<footer class="footer navbar-fixed-bottom mt-auto py-3">
    <div class="container">
      <p class="text-muted" ><a href="mailto:amritanshubaranwal09@gmail.com">&copy; 2023 Amritanshu Baranwal</a></p>
    </div>
  </footer>
</body>
</html>